.slideshow-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
}

.img-slideshow {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
    animation: zoomIn 8s ease-in;
}

@keyframes zoomIn {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(120%);
    }
}